.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

@media screen and (min-width: 992px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.not-found-text {
  font-family: Bree Serif;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .not-found-text {
    font-size: 45px;
  }
}
