.match-card {
  background-color: #0f172a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 30px;
  text-align: center;
  margin: 20px;
}

.competing-team-logo {
  width: 120px;
  height: 120px;
}

.competing-team-name {
  font-family: Bree Serif;
  font-size: 25px;
  color: #ffffff;
  height: 40px;
}

.result {
  font-family: Bree Serif;
  font-size: 18px;
  color: #ffffff;
  margin-top: 30px;
}

.won-status {
  font-family: Bree Serif;
  font-size: 25px;
  color: #18ed66;
}

.lost-status {
  font-family: Bree Serif;
  font-size: 25px;
  color: #e31a1a;
}
