.team-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 150px;
  background-color: #ffffff33;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .team-card {
    width: 430px;
  }
}

.team-logo {
  width: 140px;
  height: 120px;
  margin-right: 5px;
}

.team-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%;
}

.team-name {
  font-family: Bree Serif;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .team-name {
    font-size: 30px;
  }
}

.team-card-link {
  text-decoration: none;
}
