.team-container-common {
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container-RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.team-container-KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.team-container-KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.team-container-CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.team-container-RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.team-container-MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.team-container-SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.team-container-DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-matches-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.team-banner {
  width: 100%;
  margin-bottom: 20px;
}

.latest-matches-heading {
  font-family: Bree Serif;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}

.recent-matches-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
